<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>


<h1>Restaurants#new</h1>
<p>Find me in app/views/restaurants/new.html.erb</p>


<%= render "form", restaurant: @restaurant, review: @review %>

